
server:
  namespace: kube-system

  podAnnotations: {}

  nodeSelector: {}

  tolerations: []

  image:
    tag: "v2.7"

  ## Base64-encoded PEM values for server's CA certificate(s), certificate and private key
  tlsFiles:
    ca.pem : 
    server.pem : 
    server-key.pem : 

  extraEnv: {}

  livenessProbe:
    address: "127.0.0.1"
    enabled: true

  readinessProbe:
    enabled: true
    address: "127.0.0.1"

  resources: 
    limits:
      memory: 512Mi
      cpu: 500m
    requests:
      cpu: 200m
      memory: 512Mi

  updateStrategy: RollingUpdate


agent:
  podAnnotations: {}

  tolerations: []

  image:
    tag: "v2.7"

  ## Base64-encoded PEM values for agent's CA certificate(s), certificate and private key
  tlsFiles:
    ca.pem : 
    agent.pem : 
    agent-key.pem : 

  extraEnv: {}

  serverAddress: "kiam-server:443"

  livenessProbe:
    enabled: true

  resources:
    limits:
      memory: 100Mi
      cpu: 200m
    requests:
      cpu: 100m
      memory: 100Mi

  updateStrategy: RollingUpdate
